<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmcc.ms.mapper.LocalProvRateExtendDayMapper" >
  <resultMap id="BaseResultMap" type="com.cmcc.ms.entity.datamanager.LocalProvRateExtendDay" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="local_prov_r" property="localProvR" jdbcType="REAL" />
    <result column="month_on_month" property="monthOnMonth" jdbcType="REAL" />
    <result column="day_on_day" property="dayOnDay" jdbcType="REAL" />
    <result column="dateStr" property="datestr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, province, local_prov_r, month_on_month, day_on_day, dateStr
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cmcc.ms.entity.datamanager.LocalProvRateExtendDayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from local_prov_rate_extend_day
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from local_prov_rate_extend_day
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from local_prov_rate_extend_day
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cmcc.ms.entity.datamanager.LocalProvRateExtendDayExample" >
    delete from local_prov_rate_extend_day
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cmcc.ms.entity.datamanager.LocalProvRateExtendDay" >
    insert into local_prov_rate_extend_day (id, province, local_prov_r, 
      month_on_month, day_on_day, dateStr
      )
    values (#{id,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, #{localProvR,jdbcType=REAL}, 
      #{monthOnMonth,jdbcType=REAL}, #{dayOnDay,jdbcType=REAL}, #{datestr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cmcc.ms.entity.datamanager.LocalProvRateExtendDay" >
    insert into local_prov_rate_extend_day
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="localProvR != null" >
        local_prov_r,
      </if>
      <if test="monthOnMonth != null" >
        month_on_month,
      </if>
      <if test="dayOnDay != null" >
        day_on_day,
      </if>
      <if test="datestr != null" >
        dateStr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="localProvR != null" >
        #{localProvR,jdbcType=REAL},
      </if>
      <if test="monthOnMonth != null" >
        #{monthOnMonth,jdbcType=REAL},
      </if>
      <if test="dayOnDay != null" >
        #{dayOnDay,jdbcType=REAL},
      </if>
      <if test="datestr != null" >
        #{datestr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cmcc.ms.entity.datamanager.LocalProvRateExtendDayExample" resultType="java.lang.Integer" >
    select count(*) from local_prov_rate_extend_day
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update local_prov_rate_extend_day
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.localProvR != null" >
        local_prov_r = #{record.localProvR,jdbcType=REAL},
      </if>
      <if test="record.monthOnMonth != null" >
        month_on_month = #{record.monthOnMonth,jdbcType=REAL},
      </if>
      <if test="record.dayOnDay != null" >
        day_on_day = #{record.dayOnDay,jdbcType=REAL},
      </if>
      <if test="record.datestr != null" >
        dateStr = #{record.datestr,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update local_prov_rate_extend_day
    set id = #{record.id,jdbcType=INTEGER},
      province = #{record.province,jdbcType=VARCHAR},
      local_prov_r = #{record.localProvR,jdbcType=REAL},
      month_on_month = #{record.monthOnMonth,jdbcType=REAL},
      day_on_day = #{record.dayOnDay,jdbcType=REAL},
      dateStr = #{record.datestr,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmcc.ms.entity.datamanager.LocalProvRateExtendDay" >
    update local_prov_rate_extend_day
    <set >
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="localProvR != null" >
        local_prov_r = #{localProvR,jdbcType=REAL},
      </if>
      <if test="monthOnMonth != null" >
        month_on_month = #{monthOnMonth,jdbcType=REAL},
      </if>
      <if test="dayOnDay != null" >
        day_on_day = #{dayOnDay,jdbcType=REAL},
      </if>
      <if test="datestr != null" >
        dateStr = #{datestr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmcc.ms.entity.datamanager.LocalProvRateExtendDay" >
    update local_prov_rate_extend_day
    set province = #{province,jdbcType=VARCHAR},
      local_prov_r = #{localProvR,jdbcType=REAL},
      month_on_month = #{monthOnMonth,jdbcType=REAL},
      day_on_day = #{dayOnDay,jdbcType=REAL},
      dateStr = #{datestr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>