<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmcc.ms.mapper.OverallAnalysisMapper" >
  <resultMap id="BaseResultMap" type="com.cmcc.ms.entity.datashow.OverallAnalysis" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="ports" property="ports" jdbcType="INTEGER" />
    <result column="bandwidth" property="bandwidth" jdbcType="DOUBLE" />
    <result column="trafficins" property="trafficins" jdbcType="DOUBLE" />
    <result column="trafficouts" property="trafficouts" jdbcType="DOUBLE" />
    <result column="creattime" property="creattime" jdbcType="DATE" />
    <result column="timestr" property="timestr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, ports, bandwidth, trafficins, trafficouts, creattime, timestr
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cmcc.ms.entity.datashow.OverallAnalysisExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from overall_analysis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from overall_analysis
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from overall_analysis
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cmcc.ms.entity.datashow.OverallAnalysisExample" >
    delete from overall_analysis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cmcc.ms.entity.datashow.OverallAnalysis" >
    insert into overall_analysis (id, name, ports, 
      bandwidth, trafficins, trafficouts, 
      creattime, timestr)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{ports,jdbcType=INTEGER}, 
      #{bandwidth,jdbcType=DOUBLE}, #{trafficins,jdbcType=DOUBLE}, #{trafficouts,jdbcType=DOUBLE}, 
      #{creattime,jdbcType=DATE}, #{timestr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cmcc.ms.entity.datashow.OverallAnalysis" >
    insert into overall_analysis
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="ports != null" >
        ports,
      </if>
      <if test="bandwidth != null" >
        bandwidth,
      </if>
      <if test="trafficins != null" >
        trafficins,
      </if>
      <if test="trafficouts != null" >
        trafficouts,
      </if>
      <if test="creattime != null" >
        creattime,
      </if>
      <if test="timestr != null" >
        timestr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ports != null" >
        #{ports,jdbcType=INTEGER},
      </if>
      <if test="bandwidth != null" >
        #{bandwidth,jdbcType=DOUBLE},
      </if>
      <if test="trafficins != null" >
        #{trafficins,jdbcType=DOUBLE},
      </if>
      <if test="trafficouts != null" >
        #{trafficouts,jdbcType=DOUBLE},
      </if>
      <if test="creattime != null" >
        #{creattime,jdbcType=DATE},
      </if>
      <if test="timestr != null" >
        #{timestr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cmcc.ms.entity.datashow.OverallAnalysisExample" resultType="java.lang.Integer" >
    select count(*) from overall_analysis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update overall_analysis
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.ports != null" >
        ports = #{record.ports,jdbcType=INTEGER},
      </if>
      <if test="record.bandwidth != null" >
        bandwidth = #{record.bandwidth,jdbcType=DOUBLE},
      </if>
      <if test="record.trafficins != null" >
        trafficins = #{record.trafficins,jdbcType=DOUBLE},
      </if>
      <if test="record.trafficouts != null" >
        trafficouts = #{record.trafficouts,jdbcType=DOUBLE},
      </if>
      <if test="record.creattime != null" >
        creattime = #{record.creattime,jdbcType=DATE},
      </if>
      <if test="record.timestr != null" >
        timestr = #{record.timestr,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update overall_analysis
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      ports = #{record.ports,jdbcType=INTEGER},
      bandwidth = #{record.bandwidth,jdbcType=DOUBLE},
      trafficins = #{record.trafficins,jdbcType=DOUBLE},
      trafficouts = #{record.trafficouts,jdbcType=DOUBLE},
      creattime = #{record.creattime,jdbcType=DATE},
      timestr = #{record.timestr,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmcc.ms.entity.datashow.OverallAnalysis" >
    update overall_analysis
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ports != null" >
        ports = #{ports,jdbcType=INTEGER},
      </if>
      <if test="bandwidth != null" >
        bandwidth = #{bandwidth,jdbcType=DOUBLE},
      </if>
      <if test="trafficins != null" >
        trafficins = #{trafficins,jdbcType=DOUBLE},
      </if>
      <if test="trafficouts != null" >
        trafficouts = #{trafficouts,jdbcType=DOUBLE},
      </if>
      <if test="creattime != null" >
        creattime = #{creattime,jdbcType=DATE},
      </if>
      <if test="timestr != null" >
        timestr = #{timestr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmcc.ms.entity.datashow.OverallAnalysis" >
    update overall_analysis
    set name = #{name,jdbcType=VARCHAR},
      ports = #{ports,jdbcType=INTEGER},
      bandwidth = #{bandwidth,jdbcType=DOUBLE},
      trafficins = #{trafficins,jdbcType=DOUBLE},
      trafficouts = #{trafficouts,jdbcType=DOUBLE},
      creattime = #{creattime,jdbcType=DATE},
      timestr = #{timestr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>